<div class="container">

    <main *ngIf="currentWord.length === 0" class="gameStart">
        <h1>Witaj w grze "Wisielec"</h1>
        <button (click)="startNewGame()" class="btn">Nowa gra</button>
        <a href="https://pl.wikipedia.org/wiki/Wisielec_(gra)" target="_blank">zasady gry</a>
    </main>


    <main *ngIf="currentWord.length > 0" class="main">

        <header class="header">
            <div class="gamerDetails">
                <span>
                    Życia: 
                    <i *ngFor="let x of hearts" class='bx bxs-heart'></i>
                </span>
                <span>Punkty: <b>{{points}}</b></span>
                <span>Dziedzina: </span>
            </div>
            <div class="gameControls">
                <input #typedValue (keyup)="checkLetter(typedValue)" class="gameControls__letterInput" type="text" maxlength="1" placeholder="Podaj literę">
                <!-- <button (click)="checkLetter(typedValue)" class="btn">Sprawdź</button> -->
            </div>
            <button (click)="startNewGame()" class="btn">Nowa gra</button>
        </header>

        <div class="gameBox">

            <div class="wholeWord">

                <div *ngFor="let item of currentWord" class="wholeWord__container">
                    <p class="wholeWord__letter">{{item}}</p>
                </div>

            </div>

            <div class="checkGuessBox">
                <input #providedWord type="text" placeholder="Odgadnij słowo">
                <span>Sprawdź czy poprawnie podałeś słowo!</span>
                <button (click)="checkWholeWord(providedWord)" class="btn">Sprawdź słowo</button>
            </div>
            
        </div>

        <ul class="letters">
            <li *ngFor="let letter of usedLetters">{{letter}}</li>
        </ul>
    
        <!-- <ul class="words">
            <li *ngFor="let word of usedWords">{{word}}</li>
        </ul> -->
    
    </main>

</div>


<div *ngIf="gameState" class="popup">
    <div class="popup__container">
        <h2>BRAWO! Wygrałeś te rundę :)</h2>
        <br>
        <button (click)="continueGame()" class="btn">Nowe słowo</button>
    </div>
</div>

<div *ngIf="isLooser" class="popup">
    <div class="popup__container">
        <h2>Niestety tym razem się nie udało :(</h2>
        <p>Spróbuj jeszcze raz:</p>
        <br>
        <button (click)="startNewGame()" class="btn">Graj od nowa</button>
    </div>
</div>

<div class="mobileOverlay">
    <p>Ta Gra nie jest dostosowana do urządzeń mobilnych :(</p>
</div>